@import "variable";
@import "mixin";
.header-container {
  width: 100%;
  height: $header-height;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
  .header {
    max-width: 1100px;
    padding: 0 24px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      cursor: pointer;
      @include flex-center;
    }
    .search {
      &-form {
        @include flex-center;
        padding: 0 0 0 16px;
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: 100px;
        overflow: hidden;
        position: relative;
      }
      &-input {
        width: 292px;
        background-color: transparent;
        border: none;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.3px;
        height: 22px;
        font-weight: 400;
        caret-color: #fe2c55;
      }
      &-icon-wrapper {
        width: 52px;
        height: 46px;
        @include flex-center;
        &:hover {
          background: rgba(22, 24, 35, 0.02);
          cursor: pointer;
        }
      }
      &-icon {
        font-size: 20px;
        color: rgba(22, 24, 35, 0.2);
      }
      .split {
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
      }
    }
    .users {
      &-list {
        display: flex;
        .item {
          cursor: pointer;
          &:not(:first-child) {
            margin-left: 16px;
          }
          &:last-child {
            margin-left: 24px;
          }
          &.upload {
          }
          &.message {
          }
          &.input {
          }
          &.avatar {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-image: url("../../media/images/User-avater.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }
}
