@import "variable";
@import "mixin";
.header-container {
  width: 100%;
  height: $header-height;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  background: $primary-bg;
  top: 0;
  .header {
    max-width: $width;
    padding: 0 24px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      cursor: pointer;
      @include flex-center;
    }
    .search {
      &-form {
        @include flex-center;
        padding: 0 0 0 16px;
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: 100px;
        overflow: hidden;
        position: relative;
      }
      &-input {
        width: 292px;
        background-color: transparent;
        border: none;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.3px;
        height: 22px;
        font-weight: 400;
        caret-color: #fe2c55;
      }
      &-icon-wrapper {
        width: 52px;
        height: 46px;
        @include flex-center;
        &:hover {
          background: rgba(22, 24, 35, 0.02);
          cursor: pointer;
        }
      }
      &-icon {
        font-size: 20px;
        color: rgba(22, 24, 35, 0.2);
      }
      .split {
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
      }
    }
    .users {
      &-list {
        display: flex;
        .item {
          cursor: pointer;
          &:not(:first-child) {
            margin-left: 16px;
          }
          &:last-child {
            margin-left: 24px;
          }
          &.upload {
          }
          &.message {
          }
          &.input {
          }
          &.avatar {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-image: url("../../../assets/images/User-avater.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }
}
.main {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin: 0 auto;
  margin-top: $header-height;
  .sidebar-container {
    width: $sidebar-width;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 8px;
    background: white;
    &:hover {
      .side-scroll::-webkit-scrollbar {
        width: 6px;
      }
    }
    .side-scroll {
      position: fixed;
      width: $sidebar-width;
      overscroll-behavior-y: contain;
      overflow: hidden scroll;
      height: 100vh;
      transition: all 0.2s linear;
      &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background: white;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(22, 24, 35, 0.06);
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(22, 24, 35, 0.1);
      }
    }
    .sidebar {
      padding-top: 20px;
      margin-bottom: 8px;
      .nav-item {
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
        transition: all 0.2s linear;
        color: #333;
        &:hover {
          background: rgba(22, 24, 35, 0.03);
        }
        &.active {
          color: #fe2c55;
          background: rgba(22, 24, 35, 0.03);
          & > .nav-icon {
            fill: #fe2c55;
          }
        }
        .nav-icon {
          width: 32px;
          height: 32px;
        }
        .nav-name {
          font-weight: 600;
          text-transform: capitalize;
          line-height: 32px;
          font-size: 18px;
          margin-left: 8px;
        }
      }
      .suggested-user-header {
        padding: 16px 0 8px 0;
        margin: 0 8px;
        font-weight: 600;
        margin-bottom: 0;
        font-size: 13px;
        color: rgba(22, 24, 35, 0.75);
        // line-height: 20px;
        border-top: 1px solid rgb(230, 223, 223);
      }
      .user-list {
        padding-bottom: 16px;
        .user-item {
          display: flex;
          height: 48px;
          align-items: center;
          justify-self: flex-start;
          padding: 0 8px;
          &:hover {
            background: rgba(22, 24, 35, 0.02);
          }
          &.no-check i {
            display: none !important;
          }
          .user-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .user-infos {
            margin-left: 12px;
            .user-title {
              display: flex;
              justify-content: center;
              align-items: center;
              h4 {
                max-width: 240px;
                overflow: hidden;
                font-weight: 500;
                text-overflow: ellipsis;
                font-size: 14px;
                color: #444;
                line-height: 22px;
              }
              & > i {
                color: rgb(32, 213, 236);
                margin-left: 6px;
                font-size: 14px;
              }
            }
            .user-des {
              font-size: 11px;
              color: rgba(22, 24, 35, 0.75);
              line-height: 15px;
            }
          }
        }
        .user-more {
          margin-top: 8px;
          padding: 0 8px;
          cursor: pointer;
          & p {
            color: $primari-color;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
      .discover-container {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          top: 0px;
          left: 8px;
          right: 8px;
          background-color: #e6dfdf;
        }
        padding: 16px 8px 8px 8px;
        .discover-title {
          padding-bottom: 16px;
          font-size: 13px;
          font-weight: 600;
          color: rgba(22, 24, 35, 0.75);
        }
        .discover-list {
          .discover-item {
            padding: 0 8px;
            border-radius: 25px;
            display: inline-block;
            border: 1px solid #ccc;
            margin: 0 8px 12px 0;
            .discover-link {
              font-size: 13px;
              color: #666;
            }
            b {
              color: black;
              font-size: 15px;
            }
          }
        }
      }
      .footer-container {
        padding: 16px 0 24px 0;
        margin: 0 8px 40px 8px;
        border-top: 1px solid #e6dfdf;
        .footer-link {
          margin: 5px 6px 0 0;
          font-size: 12px;
          color: rgba(22, 24, 35, 0.5);
        }
        span {
          font-size: 11px;
          margin: 5px 6px 0 0;
          color: rgba(22, 24, 35, 0.5);
        }
      }
    }
  }

  .trending-container {
    flex: 0 0 692px;
    min-height: 100vh;
    padding: 24px 0;
    margin: 0 16px;
    .video-list {
      width: 100%;
      list-style: none;
      .video-item {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #e6dfdf;
        .video-avatar {
          display: inline-block;
          float: left;
          & > a {
            display: inline-block;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .video-main {
          margin-left: 68px;
          margin-right: 150px;
          .description {
            flex: 1;
            .acc-name-wrapper {
            }
            .name {
              color: black;
              margin-right: 3px;
              font-weight: 600;
              font-size: 17px;
              line-height: 24px;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
            .sub-text {
              font-size: 14px;
              color: #888;
            }
            .title-wrapper {
            }
            .main-title {
              text-transform: capitalize;
            }
            .hastag {
              display: inline-block;
              margin-left: 6px;
              & > a {
                color: black;
                font-weight: 500;
                &:hover {
                  text-decoration: underline;
                }
                font-size: 14px;
              }
            }
            .music-wrapper {
              max-width: 80%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              & > i {
                color: #555;
              }
              .song-name {
                display: inline-block;
                margin-left: 4px;
                font-size: 14px;
                color: #000000;
                font-weight: 600;
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
            }
          }
          .video-frame {
            position: relative;
            margin-top: 12px;
            max-width: 70%;
            min-height: 40vh;
            .video {
              width: 100%;
              height: auto;
            }
            .overlay {
              display: none;
              position: absolute;
              inset: 0;
              color: white;
              .play-btn {
                position: absolute;
                padding: 10px;
                cursor: pointer;
                left: 20px;
                bottom: 30px;
              }
              .play-btn > i {
                font-size: 18px;
                display: none;
              }
              .play-btn > i.fa-play {
                display: block;
              }
              .play-btn.playing > i.fa-play {
                display: none;
              }
              .play-btn.playing > i.fa-pause {
                display: block;
              }

              .volumn {
                position: absolute;
                bottom: 30px;
                padding: 10px;
                cursor: pointer;
                right: 20px;
                & i {
                  font-size: 18px;
                  display: none;
                }
                &:not(.mute) {
                  & > i.fa-volume-up {
                    display: block;
                  }
                }
                &.mute > i.fa-volume-mute {
                  display: block;
                }
                &:hover > .volumn-wrapper {
                  visibility: visible;
                  opacity: 1;
                }
              }
              .volumn-wrapper {
                position: absolute;
                bottom: 100%;
                transform-origin: right bottom;
                transform: rotate(90deg) translateY(120%) translateX(-0px);
                right: 0;
                padding: 10px 20px;
                border-radius: 25px;
                background: rgba(0, 0, 0, 0.5);
                visibility: hidden;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .interact {
            position: absolute;
            bottom: 0;
            left: 105%;

            .wrapper {
              width: 50px;
              height: 50px;
              margin-top: 8px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #e7e7e9;
              transition: all 0.3s ease;
              cursor: pointer;
              & > i {
                font-size: 20px;
              }
              &:hover {
                background: #d2d2da;
              }
            }
            .quantity {
              display: block;
              text-align: center;
              font-size: 13px;
              margin-top: 6px;
            }
          }
        }
        .fllow-btn {
          position: absolute;
          top: 30px;
          right: 0;
          padding: 0 10px;
          border-radius: 4px;
          border: 1px solid rgb(254, 44, 85);
          color: $primari-color;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          min-width: 88px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background: rgba(254, 44, 85, 0.06);
          }
        }
      }
    }
  }
}
